*{
	margin: 0px;
	padding: 0px;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
}

header, body, section, footer, aside, nav, article, hgroup, div{
  display: block;	
}

html{
  width: 100vw;
  max-width: 100vw;
  max-height: 100%;
  background: white;
}

body{
  background: rgba(0, 0, 0, .6);
  width: 100vw;
  max-width: 100vw;
  max-height: 100%;
  overflow: hidden;
}
